body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}

.page-box {
    display: flex;
    flex-flow: row wrap;
    margin: 0 50px;
}

.map-iframe {
    height: calc(100vh - 100px);
    width: calc(100vw - 50px);
    margin-bottom: 20px;
}

.vp-datatable {
    width: 100%;
    font-size: 1.0rem;
    top: -40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.vp-datatable a {
    color: black;
}

.vp-datatable a:hover {
    font-weight: bold;
}

.dataTables_info {
    display: none;
}

.details-desc-box {
    flex: 0 1 calc(100% - 740px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 30px 0 30px;
    background-color: white;
    font-weight: bold;
}

.details-video-box {
    flex: 0 0 640px;
    margin: 0 0 0 100px;
}

.flex-full {
    flex: 0 0 100%;
}

.flex-half {
    flex: 0 0 50%;
}

.about-image-left {
    float: left;
    margin: 20px;
}

.about-image-right {
    float: right;
    margin: 20px;
}

.gradient-scorebar {
    height: 10px;
    float: left;
}

.gradient-scorebar-secondary {
    float: left;
    height: 6px;
}

.gradient-gray {
    background: #e0e0e0;
    height: 10px;
    float: right;
    border-radius: 0 5px 5px 0;
}

.gradient-gray-secondary {
    background: #e0e0e0;
    float: right;
    border-radius: 0 5px 5px 0;
    height: 6px;
}

.gradient-label {
    float: left;
    width: 100px;
}

.gradient-year {
    position: absolute;
    margin-left: 5px;
    font-size: 12px;
    margin-top: -4px;
}

.gradient-year-secondary {
    position: absolute;
    margin-top: 32px;
    margin-left: 5px;
    font-size: 12px;
}

.gradient-bar {
    width: calc(90% - 200px);
    float: left;
    margin-top: 12px;
}

.gradient-bar-secondary {
    width: calc(90% - 200px);
    float: left;
    margin-left: 100px;
    margin-top: 22px;
}

.gradient-score {
    float: left;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.gradient-score-secondary {
    float: left;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    margin-top: 17px;
}

.detail-eval-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.detail-eval-title {
    font-size: 20px;
    font-weight: bold;
    flex: 0 0 100%;
}

.menu-option {
    position: fixed;
    right: 0px;
    width: 100px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 0.35em 1.2em;
    transition: all 0.2s;
    /*color: white !important;*/
}

.menu-option:hover {
    font-size: 16px;
}

.detail-eval-item {
    flex: 0 0 50%;
    margin-top: 30px;
}

.eval-0 {
    background-color: #ed2224;
    border-radius: 5px 0 0 5px;
}

.eval-25 {
    background-color: #f6871f;
    border-radius: 5px 0 0 5px;
}

.eval-50 {
    background-color: #f5eb1e;
    border-radius: 5px 0 0 5px;
}

.eval-75 {
    background-color: #98ca3c;
    border-radius: 5px 0 0 5px;
}

.eval-100 {
    background-color: #04aa48;
    border-radius: 5px 5px 5px 5px;
}

.lane-name {
    font-size: 36px;
    margin: 5px;
}

.lane-text {
    margin: 8px;
}

.detail-percentage {
    float: right;
}

.lane-text-box {
    display: flex;
    margin: 14px 5px;
}

.download-btn {
    position: fixed;
    right: 0;
    height: 30px;
    background-color: lightblue;
    border: 0;
    z-index: 100;
    font-size: 0;
    font-weight: normal;
    width: 20px;
}

.download-btn:hover {
    position: fixed;
    right: 0;
    height: 30px;
    background-color: lightblue;
    border: 0;
    z-index: 100;
    font-size: 14px;
    font-weight: normal;
    width: 12em;
    padding-left: 8px;
    padding-right: 0;
    text-align: left;
}

.fa {
    font-size: 14px ! important;
}

#downloadHarta {
    top: 220px;
}

#downloadCatalog {
    top: 255px;
}

#downloadPiste {
    top: 290px;
}

.link-btn {
    position: fixed;
    right: 0;
    height: 30px;
    border: 0;
    z-index: 100;
    font-size: 14px;
    font-weight: normal;
    width: 6em !important;
    padding-left: 8px;
    padding-right: 0;
    text-align: left;
}

/*.link-btn:hover {
    position: fixed;
    right: 0px;
    height: 30px;
    border: 0;
    z-index: 100;
	width: 7rem !important;
    font-size: 14px;
    font-weight: normal;
}*/

#linkHarta {
    top: 115px;
}

#linkCatalog {
    top: 150px;
}

#linkBarem {
    top: 185px;
}

.standards-criterion-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid lightgray;
}

.standards-criterion-score-bar {
    margin-top: 25px;
}

.percentage-meter-number {
    color: black !important;
}

.standards-criteria-box {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*
.entry-title {
 display: none !important;   
}
*/

.rowTotalTwenty {
    background-color: rgba(237, 34, 36, 0.3) !important;
}

.rowTotalForty {
    background-color: rgba(246, 135, 31, 0.3) !important;
}

.rowTotalSixty {
    background-color: rgba(245, 127, 30, 0.3) !important;
}

.rowTotalEighty {
    background-color: rgba(152, 202, 60, 0.3) !important;
}

.rowTotalHundred {
    background-color: rgba(4, 170, 72, 0.3) !important;
}
